<app-modal-form
  [isVisible]="isModalVisible"
  [title]="isUpdate ? 'Редагування розкладу' : 'Створення розкладу'"
  [submitDisabled]="!scheduleForm.valid"
  (close)="closeModal()"
  (submit)="onSubmit()">

  <form [formGroup]="scheduleForm" class="form">
    <div class="form-group">
      <label for="lesson" class="form-label">Предмети</label>
      <div class="custom-select">
        <select
          id="lesson"
          formControlName="lesson"
          class="form-input">
          @if (!isUpdate) {
            <option [ngValue]="null" disabled selected>Оберіть предмет</option>
          }
          @for (lesson of lessons$ | async; track lesson.id) {
            <option [ngValue]="lesson.id">{{ lesson.name }}</option>
          }
        </select>
      </div>
      <div class="error-message" *ngIf="scheduleForm.get('lesson')?.touched && scheduleForm.get('lesson')?.errors?.['required']">
        Вибір предмету обов'язковий
      </div>
    </div>

    <div class="form-group">
      <label for="teacher" class="form-label">Викладач</label>
      <div class="custom-select">
        <select
          id="teacher"
          formControlName="teacher"
          class="form-input">
          @if (!isUpdate) {
            <option [ngValue]="null" disabled selected>Оберіть викладача</option>
          }
          @for (teacher of teachers$ | async; track teacher.id) {
            <option [ngValue]="teacher.id">{{ teacher.lastName }} {{ teacher.firstName }} {{ teacher.middleName }}</option>
          }
        </select>
      </div>
      <div class="error-message" *ngIf="scheduleForm.get('teacher')?.touched && scheduleForm.get('teacher')?.errors?.['required']">
        Вибір викладача обов'язковий
      </div>
    </div>

    <div class="form-group">
      <label for="type" class="form-label">Тип</label>
      <div class="custom-select">
        <select
          id="type"
          formControlName="type"
          class="form-input">
          @if (!isUpdate) {
            <option [ngValue]="null" disabled selected>Оберіть тип предмету</option>
          }
          @for (type of lessonTypes; track type.key) {
            <option [ngValue]="type.key">{{ type.value }}</option>
          }
        </select>
      </div>
      <div class="error-message" *ngIf="scheduleForm.get('type')?.touched && scheduleForm.get('type')?.errors?.['required']">
        Вибір типу обов'язковий
      </div>
    </div>

    <div class="form-group">
      <label for="room" class="form-label">Аудиторія</label>
      <input
        type="text"
        id="room"
        formControlName="room"
        class="form-input"
        placeholder="Номер аудиторії">
      <div class="error-message" *ngIf="scheduleForm.get('room')?.touched && scheduleForm.get('room')?.errors?.['required']">
        Номер аудиторії обов'язковий
      </div>
      <div class="error-message" *ngIf="scheduleForm.get('room')?.touched && scheduleForm.get('room')?.errors?.['pattern']">
        Номер аудиторії повинен містити лишень цифри
      </div>
    </div>

    <div class="checkbox-group">
      <div class="checkbox-wrapper">
        <input
          type="checkbox"
          id="evenWeek"
          formControlName="evenWeek"
          class="custom-checkbox">
        <label for="evenWeek" class="checkbox-label">Парний тиждень</label>
      </div>

      <div class="checkbox-wrapper">
        <input
          type="checkbox"
          id="oddWeek"
          formControlName="oddWeek"
          class="custom-checkbox">
        <label for="oddWeek" class="checkbox-label">Непарний тиждень</label>
      </div>
    </div>
    <div class="error-message" *ngIf="scheduleForm.errors?.['weekRequired'] && (scheduleForm.get('evenWeek')?.touched || scheduleForm.get('oddWeek')?.touched)">
      Оберіть хоча б один параметр
    </div>
  </form>
</app-modal-form>
