<td>
  @if (lessonInfo && userRole && userRole === Role.Student) {
    <div class="class student">{{ lessonNumber }}</div>
  }
  @if (userRole && userRole === Role.Moderator) {
    <div class="class moderator">{{ lessonNumber === 0? emptyLessonNumber : lessonNumber }}</div>

    @if (lessonInfo) {
      <mat-icon (click)="openEditModal()" class="icon">edit</mat-icon>
      <mat-icon class="icon">delete</mat-icon>
    } @else {
      <mat-icon (click)="openCreateModal()" class="icon moderator">add</mat-icon>
    }
  }
</td>
<td>
  @if (lessonInfo) {
    <div class="lesson-info">
      <span class="lesson-time">{{ lessonNumberToTimeSpanMap[lessonInfo!.lessonNumber] }}</span>
      <span class="lesson-title">{{ lessonInfo!.lesson.name }}</span>
      <span class="lesson-professor">{{ degreeToString[lessonInfo!.teacher.degree] }} {{ lessonInfo!.teacher.lastName }} {{ lessonInfo!.teacher.firstName }} {{ lessonInfo!.teacher.middleName }}</span>
      <span class="lesson-location">{{ lessonTypeToString[lessonInfo!.type] }}, {{ lessonInfo!.room }} ауд.</span>
    </div>
  }
</td>


