<div class="sidebar" [ngClass]="{'collapsed': isSidebarCollapsed}">
  <div class="header">
    <button (click)="toggleSidebar()">
      <mat-icon class="icon">menu</mat-icon>
    </button>
    @if (!isSidebarCollapsed && userRole !== Role.Admin) {
      <span>Мої групи</span>
    }
  </div>
  @if (!isSidebarCollapsed) {
    @if (userRole === Role.Student) {
      <app-student-sidebar/>
    }
    @if (userRole === Role.Moderator) {
      <app-moderator-sidebar/>
    }
    @if (userRole === Role.Admin) {
      <app-admin-sidebar/>
    }
  }

  @if (!isSidebarCollapsed) {
    <div class="foot" (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>Вийти</span>
    </div>
  }
</div>
