<div class="container">
  <table>
<!--    <caption>1 семестр (12.08.2024 / 13.12.2024)</caption>-->
    <thead>
    <tr>
      <th colspan="2">Понеділок</th>
      <th colspan="2">Вівторок</th>
      <th colspan="2">Середа</th>
      <th colspan="2">Четвер</th>
      <th colspan="2">П'ятниця</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="class">1</div>
      </td>
      <td>
        <div class="lesson-info">
          <span class="lesson-time">08:20 - 09:40</span>
          <span class="lesson-title">Диференціальні рівняння</span>
          <span class="lesson-professor">проф. Петришин Роман Іванович</span>
          <span class="lesson-location">Практична, 1 к. 38 ауд.</span>
        </div>
      </td>
      <td>
        <div class="class">1</div>
      </td>
      <td>
        <div class="lesson-info">
          <span class="lesson-time">08:20 - 09:40</span>
          <span class="lesson-title">Вища математика</span>
          <span class="lesson-professor">доц. Сидоренко Марія Петрівна</span>
          <span class="lesson-location">Лекція, 2 к. 215 ауд.</span>
        </div>
      </td>
      <td>
        <div class="class">1</div>
      </td>
      <td>
        <div class="lesson-info">
          <span class="lesson-time">08:20 - 09:40</span>
          <span class="lesson-title">Програмування</span>
          <span class="lesson-professor">доц. Іваненко Олег Васильович</span>
          <span class="lesson-location">Лабораторна, 3 к. 302 ауд.</span>
        </div>
      </td>
      <td>
        <div class="class">1</div>
      </td>
      <td></td>
      <td>
        <div class="class">1</div>
      </td>
      <td>
        <div class="lesson-info">
          <span class="lesson-time">08:20 - 09:40</span>
          <span class="lesson-title">Фізика</span>
          <span class="lesson-professor">проф. Коваленко Ірина Михайлівна</span>
          <span class="lesson-location">Лекція, 1 к. 104 ауд.</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="class">2</div>
      </td>
      <td>
        <div class="lesson-info">
          <span class="lesson-time">09:50 - 11:10</span>
          <span class="lesson-title">Алгебра</span>
          <span class="lesson-professor">доц. Мельник Андрій Степанович</span>
          <span class="lesson-location">Практична, 1 к. 42 ауд.</span>
        </div>
      </td>
      <td>
        <div class="class">2</div>
      </td>
      <td></td>
      <td>
        <div class="class">2</div>
      </td>
      <td>
        <div class="lesson-info">
          <span class="lesson-time">09:50 - 11:10</span>
          <span class="lesson-title">Іноземна мова</span>
          <span class="lesson-professor">ст.викл. Василенко Ольга Павлівна</span>
          <span class="lesson-location">Практична, 2 к. 106 ауд.</span>
        </div>
      </td>
      <td>
        <div class="class">2</div>
      </td>
      <td>
        <div class="lesson-info">
          <span class="lesson-time">09:50 - 11:10</span>
          <span class="lesson-title">Програмування</span>
          <span class="lesson-professor">доц. Іваненко Олег Васильович</span>
          <span class="lesson-location">Лекція, 3 к. 301 ауд.</span>
        </div>
      </td>
      <td>
        <div class="class">2</div>
      </td>
      <td>
        <div class="lesson-info">
          <span class="lesson-time">09:50 - 11:10</span>
          <span class="lesson-title">Фізика</span>
          <span class="lesson-professor">проф. Коваленко Ірина Михайлівна</span>
          <span class="lesson-location">Практична, 1 к. 208 ауд.</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="class">3</div>
      </td>
      <td>
        <div class="lesson-info">
          <span class="lesson-time">11:30 - 12:50</span>
          <span class="lesson-title">Дискретна математика</span>
          <span class="lesson-professor">проф. Литвиненко Віктор Павлович</span>
          <span class="lesson-location">Лекція, 2 к. 101 ауд.</span>
        </div>
      </td>
      <td>
        <div class="class">3</div>
      </td>
      <td>
        <div class="lesson-info">
          <span class="lesson-time">11:30 - 12:50</span>
          <span class="lesson-title">Вища математика</span>
          <span class="lesson-professor">доц. Сидоренко Марія Петрівна</span>
          <span class="lesson-location">Практична, 2 к. 210 ауд.</span>
        </div>
      </td>
      <td>
        <div class="class">3</div>
      </td>
      <td>
        <div class="lesson-info">
          <span class="lesson-time">11:30 - 12:50</span>
          <span class="lesson-title">Дискретна математика</span>
          <span class="lesson-professor">проф. Литвиненко Віктор Павлович</span>
          <span class="lesson-location">Практична, 2 к. 105 ауд.</span>
        </div>
      </td>
      <td>
        <div class="class">3</div>
      </td>
      <td>
        <div class="lesson-info">
          <span class="lesson-time">11:30 - 12:50</span>
          <span class="lesson-title">Алгебра</span>
          <span class="lesson-professor">доц. Мельник Андрій Степанович</span>
          <span class="lesson-location">Лекція, 1 к. 42 ауд.</span>
        </div>
      </td>
      <td>
        <div class="class">3</div>
      </td>
      <td>
        <div class="lesson-info">
          <span class="lesson-time">11:30 - 12:50</span>
          <span class="lesson-title">Іноземна мова</span>
          <span class="lesson-professor">ст.викл. Василенко Ольга Павлівна</span>
          <span class="lesson-location">Практична, 2 к. 106 ауд.</span>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

