.filters-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.filters-container label {
  margin-right: 10px;
  font-weight: bold;
}

.filters-container select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
body {
  background-color: #f2f2f2;
}
table {
  font-family: 'Jura';
  width: 100%;
  border-spacing: .2em;
  text-align: center;
}
caption {
  font-weight: bold;
  font-size: 2rem;
  padding: .5em 0;
}
th, td {
  padding: .5em;
  background-color: #fff;
  border-right: 4px solid #f2f2f2;
}
/* th, tbody tr > td:has(.para) {
} */
tr:has(.para) td {
  border-top: 4px solid #f2f2f2;
}
.para {
  background: rgb(0, 0, 177, .5);
  color: #f2f2f2;
}
