<div class="container">
  <table>
<!--    <caption>1 семестр (12.08.2024 / 13.12.2024)</caption>-->
    <thead>
    <tr>
      <th colspan="2">Понеділок</th>
      <th colspan="2">Вівторок</th>
      <th colspan="2">Середа</th>
      <th colspan="2">Четвер</th>
      <th colspan="2">П'ятниця</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let lessonNumber of lessonNumbers">
      <ng-container *ngFor="let day of daysOfWeek">
        <app-lesson [lessonInfo]="getLesson(lessonNumber, day)"/>
      </ng-container>
    </tr>
    </tbody>
  </table>
</div>

