@import "styles";

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.card {
  color: $text-primary;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: $default-border-radius;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5rem;

  & > span {
    color: $text-secondary;
  }
}

.google-button {
  background: white;
  cursor: pointer;
  color: #3c4a60;
  border-radius: $default-border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &:hover {
    background: #f8f6f6;
  }

  &>img {
    height: 25px;
    width: 25px;
    margin-right: 1rem;
  }
}

@media screen and (max-width: $medium) {
  .card {
    width: 70vw;
    height: 40vh;
    font-size: 1.1rem;

    & > span {
      font-size: 0.95rem;
    }
  }

  .google-button {
    height: 2.2rem;
    width: 14rem;
  }
}

@media screen and (min-width: $medium) {
  .card {
    width: 60vw;
    height: 45vh;
    font-size: 1.15rem;

    & > span {
      font-size: 1.05rem;
    }
  }

  .google-button {
    height: 2.5rem;
    width: 16rem;
  }
}

@media screen and (min-width: $lg) {
  .card {
    width: 40vw;
    height: 45vh;
    font-size: 1.2rem;

    & > span {
      font-size: 1rem;
    }
  }

  .google-button {
    height: 2.8rem;
    width: 20rem;
  }
}

@media screen and (min-width: $xxl) {
  .card {
    width: 40vw;
    height: 45vh;
    font-size: 1.2rem;

    & > span {
      font-size: 1.1rem;
    }
  }
}
