<div class="card-wrapper">
  <mat-card class="card">
    <h2>Вхід</h2>
    <span>
      Для того, щоб продовжити, будь ласка, авторизуйтеся за допомогою Вашої пошти.<br>
      Зверніть увагу, що вхід відбувається тільки з корпоративної пошти.<br>
      Якщо вам не вдалося увійти, будь ласка, зв'яжіться з модераторами та/або адміністраторами сайту.
    </span>
    <button class="google-button" (click)="login(this.createWrapper())">
      <img src="assets/google logo.svg"/>
      Увійти з Google
    </button>
  </mat-card>
</div>
